.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.todo-item p{
    display: inline-block;
    margin: 0px;
}

.todo-finished p{
    text-decoration: line-through;
}
